/*
This is my own CSS file
*/

#myHeader {
        width:1015px;
        height: 120px;
        position: relative;
        margin: 0 auto;
        background: ur1(/images/myHeader.png) no-repeat
 }
a.sitetitle {
    display: block;
    float: left;
    margin: 45px 20px 0;
    width: 240px;
    height: 60px;
    background: url(/images/ohsoft_logo_shadow.png)no-repeat;
}
#myNav {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 750px;
    height: 60px;
    background: rgba(14, 160, 227,1);
}
